
/* ------ Mobile Screen----- 760px ---- */

@media (max-width:760px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;    
    }
    header{
        background-color: #fff;
        overflow: hidden;
        top: 0;
        z-index: 1;    
    }
    .head-s{
        height: 18vh;
        position: sticky;   
        top: 0;
    }
    .head-s-1{
        display: block;
        width: 100%;
        height: 7vh;
    }
    .head-sm{
        display: flex;
        margin: 15px ;
    }
    .logo-sm{
        background-color: #2a55e5;
        height: 6vh;
        width: 100%;
        border-radius: 10px;
    }
    .logo-2-sm{
        background-color: rgb(223, 223, 223);
        height: 6vh;
        width: 100%;
        margin-left: 10px;
        border-radius: 10px;
    }
    .logo-sm .sm-img{
        padding: 8px 0 2px 38px;
    }
    .logo-2-sm .sm-img{
        padding: 8px 0 2px 38px;
    }
    .head-s{
        padding: 0;
    }
    .left-logo{
        display: none;
    }
    .right-sell{
        display: none;
    }
    .right-signin{
        display: none;
    }
    .right-cart{
        display: none;
    }
    .left-search {
        width: 90%;
        height: 45px;
        margin: 20px;
    }
/* ------section ---------------*/
    .carousel-item img{
        height: 11vh;
    }

/* -----carousel end-------- */

    .ho-section{
        width: 93%;
        overflow-y: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
        justify-content: start;  
        padding: 0;
    }
    .ho-section::-webkit-scrollbar{
        display: none;
    }
    .container-fluid{
        padding: 0;
    }
/* ------section ---------------*/
    .caro{
        height: 15vh;
        overflow: hidden;
    }
    .product{
        margin: 0;
        height: 53vh;
    }
    .caro-content{
        height: 15vh;
    }
    #carouselExampleIndicators{
        height: 12vh;
    }
  /* ------section ---------------*/

    .p-ic-1{
        display: block ;
    }

    .p-ic-1 .fa-solid{
        width: 25px;
        height: 25px;
        padding: 5px 5px 4px 8px;
        background-color: blue;
        color: #f0f5ff;
        border-radius: 50%;
        margin-top: 16px;
    }
    .p-sm-icon{
        display: flex;
    }
    .sm-title{
        display: block;
        margin: 10px;
        width: 85%;
    }
    .sm-title-2{
        display: block;
        padding: 10px;
    }

    .p-two{
        width: 100%;
        height: 20vh;
        justify-content: start;
        display: flex;    
    }
    .p-ad{
        display: none;
    }
    .p-head{
        width: 100%;
        display: block;
    }
    .p-title, .p-ic{
        display: none;
    }
   
    .p-two{
        justify-content:start ;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 43vh;
    }
    .p-two::-webkit-scrollbar{
        display: none;
    }
   /* ------section ---------------*/
    .two-col{
        display: block;
        margin-top: 18px;
    }
    .two-col-col{
        display: block;
        margin-top: 20px;
    }
    .product-1{
        width: 100%;
        height: 82vh;
    }

    .p-ad-2, .p-ad-img{
        display: none;
    }
    .card-body{
        padding: 0;
    }
    .card-text{
        margin: 0;
    }
    /* ------section -----------*/

    footer{
        display: none;
    }
    /* ------footer----------*/
}

/* ------- End Mobile-------- */